<h4><%= @county.name %></h4>
<p><%= @county.utility_provider %></p>
<p><%= @county.avg_annual_cost %></p>
<p><%= @county.irradiance_dni %></p>
<p><%= @county.irradiance_ghi %></p>
<p><%= @county.irradiance_lat_tilt %></p>